.center { display: block; margin-left: auto; margin-right: auto; height: 50%; } 
.button { font-size: 24px; padding: 10px 20px; margin: auto; display: inline-block; }
.button_div { width: 50%; justify-content: center; margin-left: auto; margin-right: auto; }